@page
@model KlinikkProject.Pages.Doctor.EmailBeskedenModel
@{
}
<p><strong>Din tiden er nu bestilt, tjek venligst din email</strong></p>


<div class="confirmation-page">
    <h2>Tak for din tidsbestilling!</h2>
    <p>
        "Hver dag bringer nye møder og nye muligheder.
        Bag enhver aftale er et menneske med sine egne drømme, mål og historier.
        Vi værdsætter din tillid og ser frem til at møde dig, ikke bare som en kunde,
        men som et menneske, der fortjener den bedste oplevelse."
    </p>
</div>


<a class="btn-outline-primary" asp-page="/Index">Klik her for at vende tilbage</a>