@page
@model KlinikkProject.Pages.AppoinmentFolder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lægerne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Lægerne.Id" />
            <div class="form-group">
                <label asp-for="Lægerne.Navn" class="control-label"></label>
                <input asp-for="Lægerne.Navn" class="form-control" />
                <span asp-validation-for="Lægerne.Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lægerne.Email" class="control-label"></label>
                <input asp-for="Lægerne.Email" class="form-control" />
                <span asp-validation-for="Lægerne.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lægerne.Telefonnr" class="control-label"></label>
                <input asp-for="Lægerne.Telefonnr" class="form-control" />
                <span asp-validation-for="Lægerne.Telefonnr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lægerne.Adresse" class="control-label"></label>
                <input asp-for="Lægerne.Adresse" class="form-control" />
                <span asp-validation-for="Lægerne.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lægerne.PostNr" class="control-label"></label>
                <input asp-for="Lægerne.PostNr" class="form-control" />
                <span asp-validation-for="Lægerne.PostNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lægerne.Afdeling" class="control-label"></label>
                <input asp-for="Lægerne.Afdeling" class="form-control" />
                <span asp-validation-for="Lægerne.Afdeling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../TheAdministrationSite">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
