
@page
@model ClothingShop_TrainingTime.Pages.Ansatte_Side.LogIn.AnsatteLogModel
@{
}

    <form method="post">
        <div class="bold-line"></div>
        <div class="container">
            <div class="window">
                <div class="overlay"></div>
                <div class="content">
                    <div class="welcome">Hello There!</div>
                    <div class="subtitle">We're almost done. Before using our services you need to log in with your role.</div>
                <validation-summary model-only class="text-danger" />

                    <fieldset>
                        <div class="input-block">
                            <label asp-for="AnsatteRolle" class="control-label"></label>
                            <input asp-for="AnsatteRolle" class="form-control" />
                            <span asp-validation-for="AnsatteRolle" class="text-danger"></span>
                        </div>
                        <div class="input-block" style="text-align: center;">
                            <button type="submit" style="border-radius: 50px; width: 100px;" asp-page-handler="Ansatte" class="btn-login">
                                🔐 Login
                            </button>
                        </div>
                    </fieldset>
        

                </div>
            </div>
        </div>
    </form>
