@page
@model KlinikkProject.Pages.LogTheMembSiteModel
@{
}
<div class="text-center">
    <h1 class="display-4"><strong>Velkommen til vores klinik!</strong></h1>
    <p>Vi hjælper dig med at finde de bedste læger og gøre din aftale hurtigt og nemt.</p>
    <img src="/Images/TheDoctors.jpg" style="width:75%" alt="Italian Trulli">
</div>

